/ {
	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		interface-name = "HID0";
		protocol-code = "none";
		in-polling-period-us = <1000>;
		in-report-size = <64>;
	};

	aliases {
		bt-status-led = &led0;
		usb-ready-led = &led1;
		gyro-active-led = &led2;
	};
};

&led0 {
	status = "okay";
};

&led1 {
	status = "okay";
};

&led2 {
	status = "okay";
};
